service_account_key_file = "../../../yc-svc-key.json"
cloud_id                 = "abcdef01234567890abc"
folder_id                = "b1go0bbc4eormvjuv1mq"
subnet_id                = "e9bqom95bd1o3fkemarr"
public_key_path          = "~/.ssh/appuser.pub"
